In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('sample2.csv')
df.head()

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,58,75,69,59,51,46,21,300000,Yes,2 hours

In [3]:
import random as r

In [5]:
df['Class Label']=r.choices(['Yes','No'],weights=(8,6),k=1000)

In [6]:
df.head()

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,58,75,69,59,51,46,21,300000,Yes,2 hours

In [9]:
df_old=pd.read_csv('sample2.csv')

In [10]:
df_old

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,58,75,69,59,51,46,21,300000,Yes,2 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,15-18 years,male,Native Language,Agriculture,Agriculture,Three Children,secondary,secondary,0.5-1 km,...,23,42,72,88,53,31,53,550000,Yes,2 hours
996,996,10-13 years,female,Native Language,Private sector,Immigrant,None,secondary,primary,>7 km,...,20,51,66,63,79,46,58,350000,Yes,2 hours
997,997,10-13 years,male,English,Private sector,Freelancer,Three Children,None,secondary,2-3 km,...,47,47,25,25,55,51,75,200000,Yes,1 hours
998,998,10-13 years,female,Native Language,Worker,Home maker,Three Children,primary,primary,2-3 km,...,80,70,58,84,47,77,60,150000,No,3 hours
999,999,10-13 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,4-5 km,...,21,56,59,57,32,35,39,100000,No,1 hours

In [8]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day,Class Label
0,13-15 years,female,Native Language,Immigrant,Home maker,Four or more,secondary,secondary,1-2 km,Rickshaw,...,67,35,42,35,25,29,300000,Yes,1 hours,Yes
1,10-13 years,male,Bangla,Freelancer,Home maker,Three Children,Honors/ Equivalent,secondary,0.5-1 km,Bicycle/motorbike,...,92,47,50,54,56,91,850000,Yes,3 hours,No
2,13-15 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,>7 km,Rickshaw,...,60,81,90,43,81,31,100000,No,3 hours,Yes
3,13-15 years,female,Bangla,Public sector,Freelancer,Three Children,primary,secondary,0-0.5 km,Walk,...,20,83,54,50,20,82,200000,Yes,1 hours,No
4,10-13 years,male,Native Language,Public sector,Home maker,None,Honors/ Equivalent,primary,1-2 km,Walk,...,46,52,32,33,28,81,150000,No,1 hours,Yes

In [14]:
add_df=df.iloc[:100,:]
add_df

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,58,75,69,59,51,46,21,300000,Yes,2 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,10-13 years,female,Bangla,Immigrant,Home maker,Two Children,secondary,primary,0-0.5 km,...,80,57,91,52,47,46,31,900000,Yes,2 hours
96,96,10-13 years,male,Native Language,Worker,Home maker,Three Children,primary,secondary,>7 km,...,91,79,82,61,76,50,23,350000,Yes,3 hours
97,97,13-15 years,male,Native Language,Unemployed,Home maker,None,primary,primary,0-0.5 km,...,30,65,63,62,37,30,85,750000,Yes,2 hours
98,98,15-18 years,female,Native Language,Public sector,Home maker,Two Children,secondary,secondary,1-2 km,...,22,76,36,52,62,54,87,750000,Yes,2 hours
99,99,15-18 years,female,English,Unemployed,Home maker,Two Children,secondary,secondary,4-5 km,...,72,33,35,56,58,82,57,650000,Yes,2 hours

In [15]:
add_df.shape

(100, 28)

In [16]:
df_old.shape

(1000, 28)

In [17]:
final_df=df_old.append(add_df)

In [18]:
final_df.shape

(1100, 28)

In [19]:
final_df['Home Language']

0     Native Language
1     Native Language
2     Native Language
3     Native Language
4     Native Language
           ...
95             Bangla
96    Native Language
97    Native Language
98    Native Language
99            English
Name: Home Language, Length: 1100, dtype: object

In [20]:
lang=r.choices(['Bangla','English'],weights=(9,.9),k=1100)

In [21]:
lang.count('Bangla')

1008

In [22]:
lang.count('English')

92

In [23]:
final_df['Home Language']=lang

In [24]:
final_df.head()

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,0,10-13 years,female,Bangla,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,1,13-15 years,female,Bangla,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,2,10-13 years,female,Bangla,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,3,10-13 years,male,Bangla,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,4,13-15 years,female,Bangla,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,58,75,69,59,51,46,21,300000,Yes,2 hours

In [25]:
final_df.to_csv('Improved3SDOS.csv')